$font: VTBGroupUI, roboto, -apple-system, blinkmacsystemfont, segoe ui, oxygen, ubuntu, cantarell, fira sans, droid sans,
  helvetica neue, sans-serif;

@font-face {
  font-family: VTBGroupUI;
  src:
    local("VTBGroupUI"),
    local("VTBGroupUI"),
    url("../../shared/assets/fonts/VTBGroupUI-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: VTBGroupUI;
  src: local("VTBGroupUI"), local("VTBGroupUI"), url("../../shared/assets/fonts/VTBGroupUI-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: VTBGroupUI;
  src:
    local("VTBGroupUI"),
    local("VTBGroupUI"),
    url("../../shared/assets/fonts/VTBGroupUI-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
