@use "/src/app/styles/variables" as *;

.input {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  border: 1px solid $secondary;
  color: $secondary;
  margin: 8px 0;
}

.button:hover {
  cursor: pointer;
}

%filewrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $light;
  min-height: 38px;
  margin-bottom: 10px;
  padding: 3px 12px;
  border-radius: 8px;
}

.fileWrapper {
  @extend %filewrapper;

  &__error {
    color: $danger;
    background: $fileUploadError !important;
  }
}

.fileNameWrapper {
  display: flex;
  align-items: center;
}

.uploadIcon {
  color: $success;
  margin-right: 12px;
  height: 24px;
  display: block;
}

.removeFileButton {
  color: $disabledText;
}

.removeFileButton:hover {
  cursor: pointer;
}

.spinner {
  margin-right: 12px;
}

.info {
  color: $subText;
  font-size: 12px;
  font-weight: 400;
}

.fieldError {
  color: $danger;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
